@{
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li><a href="#" class="active">Dashboard</a></li>
    </ol>

    <h1 class="page-header">@ViewBag.Title</h1>

    <div class="row">
        <div class="col-md-4 col-sm-6 maozinha" id="insp-nao-inspecionadas">
            <div class="widget widget-stats bg-blue-darker">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-hourglass-half fa-fw"></i></div>
                <div class="stats-title">INSPEÇÕES NÃO REVISADAS</div>
                <div class="stats-number" id="i-n-r">0</div>
                <div class="stats-desc">Clique para visualizar</div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 maozinha" id="insp-aprovadas">
            <div class="widget widget-stats bg-green-darker">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-thumbs-o-up fa-fw"></i></div>
                <div class="stats-title">INSPEÇÕES APROVADAS</div>
                <div class="stats-number" id="i-a">0</div>
                <div class="stats-desc">Últimos 30 dias.</div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 maozinha" id="insp-reprovadas">
            <div class="widget widget-stats bg-red-darker">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-thumbs-o-down fa-fw"></i></div>
                <div class="stats-title">INSPEÇÕES REPROVADAS</div>
                <div class="stats-number" id="i-r">0</div>
                <div class="stats-desc">Últimos 30 dias.</div>
            </div>
        </div>
    </div>
</div>