@{
    Layout = "~/Views/Shared/_LayoutVoluntario.cshtml";
    ViewBag.Title = "Dashboard";
}

<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li><a href="#" class="active">Dashboard</a></li>
    </ol>

    <h1 class="page-header">@ViewBag.Title</h1>
</div>